/src/SusikBusikAmongusik.pickle filter=lfs diff=lfs merge=lfs -text
/src/model/saved/SVM/SVC.pickle filter=lfs diff=lfs merge=lfs -text
/src/model/saved/NeuralNet/cnn_unvalidated.keras filter=lfs diff=lfs merge=lfs -text
/src/model/my_model.keras filter=lfs diff=lfs merge=lfs -text
/src/model/saved/NeuralNet/cnn_best.keras filter=lfs diff=lfs merge=lfs -text
/src/model/saved/NeuralNet/cnn.keras filter=lfs diff=lfs merge=lfs -text
