#dataset
/dataset/*
!/dataset/.gitkeep

#models
/src/model/saved/*
!/src/model/saved/.gitkeep
!/src/model/saved/SVM
!/src/model/saved/KNN
!/src/model/saved/CNN
src/model/saved/CNN/checkpoints/

env
.idea

/src/model/__pycache__/
/wandb/
test/
