<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Image Viewer</title>
</head>
<body>
    {% if not ansver %}
    <div class="main">    
        <h1 id="CIText">Choose an Image</h1>
        <div class="imgcount">
            <img id="image">
        </div>
        <form method="POST" enctype="multipart/form-data" class="formstyle">
            <input type="file" name="user_image" id="fileInput">
            <label for="fileInput" class="button">
                Choose File
            </label>

            <select name="model" id="first_select" class="select">
                <option value="{{models[0]}}" selected>{{models[0]}}</option>
                {% for model in models[1:] %}
                <option value="{{model}}">{{model}}</option>"
                {% endfor %}
            </select>
            <select name="model_path" id="second_select" class="select">
                <option value="{{models_path[models[0]][0][1]}}" selected>{{models_path[models[0]][0][0]}}</option>
                {% for model_path in models_path[models[0]][1:] %}
                <option value="{{model_path[1]}}">{{model_path[0]}}</option>"
                {% endfor %}
            </select>
            
            <input type="submit" value="Process" class="action_button" id="button_process">
        </form>
    </div>
    {% else %}
    <div class="main">
        <div class="imgcont">
            <img src="{{image}}" alt="" style="max-height: 600px;">
        </div>
        <form action="/" class="formstyle">
            <input type="submit" value="Back" class="button"/>
            <h1 style="margin: 0 auto;">{{ansver}}</h1>
        </form>
    </div>
    {% endif %}
    <script>
        const button_process = document.getElementById('button_process');
        button_process.disabled = true;
        var models_path = {{ models_path|tojson }};
        console.log(models_path);
        // Додайте JavaScript для оновлення другого вибору залежно від першого
        document.getElementById('first_select').addEventListener('change', function() {
            // Отримайте вибір з першого селекта
            var firstValue = this.value;
            
            var secondSelect = document.getElementById('second_select');
            secondSelect.innerHTML = '';

            for (const model_path in models_path){
                if (model_path === firstValue) {
                    console.log(model_path);
                    for (option in models_path[model_path]){
                        var option1 = document.createElement('option');
                        option1.value = models_path[model_path][option][1];
                        option1.text = models_path[model_path][option][0];
                        secondSelect.appendChild(option1);
                    }
                }
            }
        });
        const fileInput = document.getElementById('fileInput');
        const image = document.getElementById('image');
        const error_text = document.getElementById('error_h1');
        const image_text = document.getElementById('CIText')

        fileInput.addEventListener('change', function () {
            const selectedFile = fileInput.files[0];

            if (selectedFile) {
                const objectURL = URL.createObjectURL(selectedFile);
                image.src = objectURL;
                button_process.disabled = false;
                if (error_text) {
                    error_text.remove();
                }
                if (image_text){
                    image_text.remove()
                }
            }
        });
    </script>
</body>
</html>
